textarea {
	color: #dbe2fb;
	padding: 15px !important;
}

.image_div {
	padding: 10px;
	border: 1px dashed #ccc;
	text-align: center;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	border-radius: 7px;
}

.image_div img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.remove_tier_bundle {
	width: 20px;
	float: right;
}

.text-danger .error {
	border: none !important;
	color: red !important;
}

#step-5 .step-form-heading {
	width: 40%;
	display: flex;
	margin: auto;
}

.font-weight-bold p {
	font-weight: 500 !important;
}

.modal-content {
	background-color: #05102f !important;
}
