textarea {
	color: #dbe2fb;
	padding: 15px !important;
}

.image_div {
	padding: 10px;
	border: 1px dashed #ccc;
	text-align: center;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	border-radius: 7px;
}

.image_div img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.remove_tier_bundle {
	width: 20px;
	float: right;
}

.text-danger .error {
	border: none !important;
	color: red !important;
}

#step-5 .step-form-buttons {
	width: 60%;
	display: flex;
	margin: auto;
}

.font-weight-bold p {
	font-weight: 500 !important;
}

.modal-content {
	background-color: #05102f !important;
}

.cursor-pointer {
	cursor: pointer;
}

.object-fit-cover {
	object-fit: cover;
}
.object-fit-contain {
	object-fit: contain;
}

.logo-color {
	color: #f1c40c;
}

.add-gallery {
	text-align: center;
}
.btn-theme-primary {
	color: #000;
	text-transform: uppercase;
	background-color: #f1c500;
}
.speaker--slider .speaker-prev:hover,
.speaker--slider .speaker-next:hover {
	background-color: #f1c500 !important;
}
.speaker-thumb.card-header a {
	width: 100%;
	height: 100%;
}

.speaker-wrapper .speaker-thumb img,
.speaker-item .speaker-thumb {
	mask: none !important;
	-webkit-mask: none !important;
	mask-size: cover !important;
}
.artist-links:hover {
	background-color: transparent !important;
}
.artist-links:hover,
.artist-links.active {
	background-color: transparent !important;
	border-color: #fff !important;
}
.btn-theme-primary:hover {
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	background-color: transparent;
}

.add-gallery a {
	color: white;
}

.add-gallery a:hover {
	transform: scale(1.2);
}
#img {
	height: 150px;
	width: 100% !important;
}
#icons_upload {
	left: 50%;
	position: absolute;
	top: 46%;
}
.social-icons li a {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: #ffffff;
	font-size: 14px;
}
.speaker-slider6 .owl-nav {
	display: block;
}
.speaker-slider6 .owl-nav .owl-prev {
	position: absolute;
	left: -50px;
	top: 45%;
	width: 40px;
}
.speaker-slider6 .owl-nav button:hover {
	background-color: transparent !important;
}
.speaker-slider6 .owl-nav button:focus,
.speaker-slider6 .owl-nav button {
	outline: 1px solid;
}

.speaker-slider6 .owl-nav button span {
	font-size: 40px;
}

.speaker-slider6 .owl-nav .owl-next {
	position: absolute;
	right: -50px;
	top: 45%;

	width: 40px;
}
.btn.btn-primary.btn-step-continue {
	background-color: #f1c500;
	border: 1px solid #f1c600;
}
.btn.btn-primary.btn-step-continue:hover {
	background-color: transparent;
	color: #f1c500;
	border: 1px solid #f1c500;
}
.kv-file-zoom {
	display: none;
}
/* .kv-file-content img  {
	width: 95% !important;
    height: 180px !important;
    max-height: 300px !important;
    position: absolute !important;
    left: 25px !important;
    top: 55px !important;
} */
.kv-preview-data.file-preview-video {
	width: 500px !important;
	height: 200px !important;
	margin-top: -50px !important;
	padding: 10px !important;
}
.video-wrapper .file-thumbnail-footer {
	display: none;
}
.video-wrapper .kv-file-content {
	width: 100% !important;
	height: 200px !important;
	max-height: 300px !important;
	position: absolute !important;
	left: 0 !important;
	top: 45px !important;
}
button.close.fileinput-remove span {
	position: absolute !important;
	display: flex !important;
	top: 0 !important;
	right: 0px !important;
	color: red;
	border: 1px solid;
	z-index: 9999;
	padding: 5px;
	margin: 5px;
}
.close.fileinput-remove:focus {
	outline: none;
}
/*  .file-input.file-input-ajax-new {
	display: inline-flex !important;
    position: absolute !important;
    top: -5px !important;
    right: 100px !important;

}*/
.file-input {
	position: relative !important;
}
.file-preview {
	display: flex;
	width: 100%;
	margin-bottom: 1.25rem;
	position: relative;
	text-align: center;
	border-radius: 0.1875rem;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}
.close.fileinput-remove {
	font-size: 1.25003rem;
	font-weight: 400;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.9375rem 1.25rem;
	line-height: 1;
	color: #333;
	text-shadow: none;
	opacity: 0.75;
	z-index: 2;
	border-radius: 0.1875rem;
}
.file-drop-zone.clearfix {
	width: 100%;
}
.file-preview-thumbnails.clearfix {
	border: 1px solid #2a39a0;
	min-height: 12rem;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
}
.file-preview-frame.krajee-default.kv-preview-thumb {
	height: 100%;
	vertical-align: middle;
	padding: 0.5rem;
	border-radius: 0.1875rem;
	margin: auto !important;
}
.post-item.post-details.mb-1 .post-thumb #wrapper-video img {
	width: 100% !important;
}
.kv-file-content {
	position: relative;
	height: 10rem;
	z-index: 4;
}
.file-thumbnail-footer {
	display: none;
}
.file-preview-image.kv-preview-data {
	width: auto;
	height: auto;
	margin: 0 auto;
	max-height: 100%;
}
button.btn.btn-default.btn-secondary.kv-hidden.fileinput-cancel.fileinput-cancel-button {
	display: none;
}
.file-drop-zone-title {
	display: none;
}
.btn.btn-primary.btn-block.btn-file {
	display: none;
}
.theme-primary-color {
	color: #f1c500 !important;
}
.speaker-title:hover {
	color: #e0004d;
}
.btn-circle.active,
.btn-success-circle,
.btn-success-circle p {
	background-color: #efc400 !important;
}
a.btn-success-circle.line:before {
	background-color: #efc500 !important;
}
a.btn-success-circle ~ p {
	color: #efc500;
}
.image_div {
	border: 1px solid rgba(85, 96, 255, 0.5);
}
.step-container .gig-details label {
	width: 23%;
	padding: 30px;
}
.category-select {
	width: 185px !important;
}
.genre-select {
	width: 165px !important;
}
.show-select {
	width: 55px !important;
}
.sort-select {
	width: 180px !important;
}
.limit-single-line {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	min-height: 20px;
}

.grid-footer .limit-single-line {
	margin-top: 5px;
	margin-bottom: 15px;
}

.content-bar select {
	margin: 0 10px !important;
}
.content-bar p {
	margin: 7px 10px !important;
}
.step-container label input.time {
	background: url(../images/icons/clock.png) #021245 no-repeat calc(100% - 15px) !important;
}
.detailpage-crousal .owl-nav.disabled {
	display: block !important;
}
.detailpage-crousal .owl-nav .owl-prev {
	width: 50px;
	top: 30%;
	left: -10px;
	z-index: 999;
	position: absolute;
	padding: 5px 20px !important;
	border: 1px solid #fff !important;
}
.detailpage-crousal .owl-nav .owl-next {
	width: 50px;
	top: 30%;
	right: -10px;
	z-index: 999;
	position: absolute;
	padding: 5px 20px !important;
	border: 1px solid #fff !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	color: transparent;
	background: none;
	z-index: 1;
}
input[type="time"]::-webkit-calendar-picker-indicator {
	background: none;
}
.btn.btn-primary.btn-step-test {
	background-color: #fff;
	color: #000;
	border: 1px solid #fff;
}
.btn.btn-primary.btn-step-test:hover {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.section-04 .my-5.text-center.container {
	margin-top: 0px !important;
}
.section-05 .my-5.text-center.container {
	margin-top: 0px !important;
}
.teir-button {
	max-width: 30%;
	float: right;
	margin: 25px 0;
}

#gig_poster {
	width: auto;
	height: 350px;
}
.file-upload2 {
	display: none;
}
.icon_upload1 {
	left: 45%;
	position: absolute;
	top: 55%;
	/* width: fit-content !important; */
}
.file-dimension {
	margin-bottom: 0 !important;
}
#wrapper-video {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

#wrapper-video video,
#wrapper-video img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.like-blue {
	color: #037bfe;
}
.heart-red {
	color: #a83f39;
}
.angry-red {
	color: #923d44;
}
.reactions-btn {
	padding: 5px 10px;
	pointer: cursor;
}
.reactions-btn:hover {
	cursor: pointer;
}
.reactions-btn:hover span {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.padding-5-10 {
	padding: 5px 10px;
}

.onfeed-like,
.onfeed-heart,
.onfeed-angry {
	position: absolute;
	right: 50px;
	bottom: 10px;
	font-size: 25px;
}

.particlesContainer {
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.particle {
	display: inline-flex;
	position: absolute;
	height: 2rem;
	width: 2rem;
	left: 0;
	right: 0;
	top: 100%;
	margin: auto;
}

.emoji-img {
	width: 40px;
	height: 40px;
}

#wrapper-video .container {
	position: relative;
	z-index: 2;
}

#wrapper-video .overlay-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}
.fixed-button-top {
	position: fixed;
    right: 11%;
    top: 100px;
    /* width: 100%; */
    z-index: 2;
}
.banner-section::before {
	bottom:100px !important;
}

@media (pointer: coarse) and (hover: none) {
	#wrapper-video {
		background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
			no-repeat center center scroll;
	}
	#wrapper-video video {
		display: none;
	}
}
.social-share {
	margin-top: 7px;
	flex: auto;
}
.card-header.p-0.explore_image_holder a {
	width: 100%;
	height: 100%;
}
#carousel_5 .card-footer .btn-view,
#carousel_4 .card-footer .btn-view,
#carousel_3 .card-footer .btn-view {
	width: 100% !important;
}
#carousel_5 .card-footer .btn-watch,
#carousel_4 .card-footer .btn-watch,
#carousel_3 .card-footer .btn-watch {
	width: 100% !important;
	margin-right: 20px !important;
}
@media only screen and (max-width: 600px) {
	/*	.kv-file-content img {
    width: 85% !important;
    height: 180px !important;
    max-height: 300px !important;
    position: absolute !important;
    left: 22px !important;
    top: 55px !important;
} */
	.kv-preview-data.file-preview-video {
		width: 250px !important;
		margin-top: -50px !important;
		padding: 10px !important;
		height: 200px !important;
	}
	.add-product-border {
		border: 1px solid rgba(85, 96, 255, 0.5);
	}
	.card-header.p-0.explore_image_holder a {
		width: 100%;
		height: 100%;
	}

	.pos-absolute-img {
		position: absolute;
		top: 55%;
		left: 45%;
	}

	#carousel_5 .card-footer .btn-watch,
	#carousel_4 .card-footer .btn-watch,
	#carousel_5 .card-footer .btn-watch,
	#carousel_3 .card-footer .btn-watch {
		width: 100% !important;
	}

	.fixed-button-top {
		position: fixed;
		left: 0;
		top: 82px;
		width: 100%;
		z-index: 2;
	}
	.custom-item {
		display: flex;
		justify-content: flex-end;
		margin: 30px;
	}
	.custom-table-mobile {
		table-layout: fixed !important;
	}
	.custom-table-mobile th {
		width: 130px !important;
	}
	.mob-responsive {
		width: 50px !important;
		margin-bottom: 10px;
	}
	.reactions-live,
	.social-share {
		margin-top: 7px;
	}
	.reactions-live {
		margin-bottom: 30px;
	}
	#gig_poster {
		width: 100%;
		height: auto;
	}
	#step-5 .step-form-buttons {
		width: 100%;
	}
	.teir-button {
		max-width: 100%;
	}
	.mob-width {
		width: 100% !important;
	}
	.explore-banner-section {
		min-height: 400px;
		padding: 150px 0 0;
	}
	.content-bar p span {
		width: 30% !important;
	}
	.content-bar p {
		display: flex;
		align-items: baseline;
	}
	.content-bar select {
		width: 70% !important;
	}
	.card.grid-card .card-header {
		width: 100% !important;
	}
	.genre-select,
	.category-select,
	.sort-select,
	.show-select {
		width: 100% !important;
		margin: 0 !important;
	}
	#icon_for_upload {
		left: 45%;
	}
	.content-bar .col {
		flex-basis: 100%;
	}
}
@media only screen and (max-width: 991px) and (min-width: 601px) {
	.content-bar .col {
		flex-basis: 33%;
	}
}
.cast-item .tier-cast-thumb img {
	height: 200px;
	object-fit: cover;
}

.signup-error-link {
	color: inherit;
}
.signup-error-link:hover {
	color: blue;
}

# @media screen and (-webkit-min-device-pixel-ratio:0) {
	#carousel_3 .card-footer .btn-watch:hover {
		background-color: transparent;
		color: #e0004d;
		border: 1px solid #e0004d;
	}
}
@media (min-width: 992px)
.padding-breadcrumb {
    padding-top: 10px;
}
